/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
  /* @import 'node_modules/modern-normalize/modern-normalize.css';  npm install modern-normalize  Resets elements for browser consistency.  https://www.npmjs.com/package/modern-normalize */         
  /* @import "component1.css";   Component-specific stylesheets, if any.   */
  /* @import url(//fonts.googleapis.com/css?family=Font+Name); Add fonts from a hosted services like Google Fonts.   */

  @import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
  /*   ----- Variables  -----  */
:root {
    --olive: #013221;
    --white: #f6f0ea;
    --burgundy: #8C2B32;
    --black: #000000;
    --cream: #F5eae0;
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {       /* Can alternatively define in html {}. */
    background-color: var(--olive);
    p {font-family: 'Work Sans', generic;}
    h1, h2, h3, h4, h5, h6, footer {
      font-family: 'Julius Sans One', generic;
      color: var(--white);
    } 
  }
  h1, h2{ 
    text-align: center;
    text-decoration: underline;
  }

  h3 {
    text-decoration: underline;
  }
  
  h2.intro{
    text-align: left;
    text-decoration: underline;
    margin-bottom: 2.5%;
    margin-left: 2%;
  }

  p.intro{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    line-height: 30px;
    color: var(--white);
  }

  p.project {
    margin-left: 1%;
    color: var(--white);
  }

  ul {
    color: var(--white);
  }

  /*  ----- Page layout blocks -----  */
  header {
    margin-top: 5%;
  }

  article.contact-links {
    text-align: center;
    margin-top: 4%;
  }

  article.intro-para{
    margin-top: 5%;
    text-align: left;
  }

  article.hogwarts {
    margin-top: 5%;
  }

  section.projects {
    margin-top: 5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  
  /* ----- Anchors ----- Text links */
  a:link, a:visited {
    background-color: var(--cream);
    color: #000000;
    border: 2px solid #000000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: var(--burgundy);
    color: var(--cream);
  }

  a.main-links{
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  a.contact {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }


  
  /*  ----- Navigation & Footer -----   */
  nav.main-links {
    margin-left: 83%;
  }

  
  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {}
  
  /*   ===== PRINT  media query overrides previous styles =====  */
  @media print {}
